* {
margin:0;
padding:0;

}
body{
  background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8))
  ,url("biotechsoc.png");
  height: 100vh;
  background-size: cover;
  background-position: center;

}
#MainWrapper {
width: 1600px;
/* you would need to set this to whatever size you wanted your site to be, which would fix the rest of the content with in that */
}
nav{

height:85px;
background-color:#FFFFFF;
font-size: 19px;

}



nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;

}
/*the margin here keeps all the nav tabs on the same line*/
nav ul li{
  float:left;
margin-right: 60px;
  list-style:none;



}

nav ul li a{
  display:block;
  font-family:arial;
  color:#222;
  font-size:14px;
  padding:24px 40px;

  text-decoration:none;

}

nav ul li ul {
  display:none;
  position: absolute;
  background-color:#FFFFFF;
  padding:10px;
  border-radius:0px 0px 4px 4px;
}

nav ul li:hover ul {
  display:block;
}

nav ul li ul li{
  width:250px;
  border-radius: 4px;
}

nav ul li ul li a{
padding: 10px 20px;

}


nav ul li ul li a:hover {
background-color: #f3f3f3;
}
/*this is the list items eg.home, about us etc*/
nav ul li a{
  display:block;
  font-family:arial;
  color:#222;
  font-size:18px;
  padding:24px 40px;
  margin-top: 5px;

}
/*this is the background for the drop downs eg.connect with committee*/
nav ul li ul {
  display:none;
  position: absolute;
  background-color:#FFFFFF;
  padding:0px;
  border-radius:0px 0px 4px 4px;

}


}
/*this hovers over the drop down list*/
nav ul li:hover ul {
  display:block;
}
/*the following sets the width of drop down eg. connect with commitee width*/
nav ul li ul li{
  width:150px;
  border-radius: 4px;
}

nav ul li ul li a{
padding: 10px 20px;

}

nav ul li ul li a:hover {
background-color: #f3f3f3;
}
.header {
    height: 80%;
    width: 8%;
    float: left;

}

/*Reference: Creating an Email Subscription Popup using jQuery, by Codex World*/
.popup-id{

    position: relative;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    overflow: auto;
    display:none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);



}

.popupcontent {

    height: 100px;
    width: 100px;
    position: fixed;
    left: 57%;
    margin-left: -50px;
    top: 50%;
    margin-top: -10px;
    transform: translate(-50%, -50%);
    background-color: #222;
    color: #FFFFFF;
    width: 90%;
    max-width: 600px;
    padding-top: 0px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
    border: 10px solid #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   -webkit-animation-name: animateleft;
   -webkit-animation-duration: 0.2s;
   animation-name: animateleft;
   animation-duration: 0.2s
   filter: alpha(opacity=90);
	opacity: 0.9;
}

.popupheading {


    cursor: pointer;
    padding: 3px 14px;

}

.popup-id h2 {
    margin: 0;
    color:#222;
}

.popup-id form {
    margin-bottom: 0px;
}

.popup-id input {
    padding: 10px;
    border: 3px solid #333;
    width: 40%;
}


/* add animation effects */
@-webkit-keyframes animateleft {
    from {left:-100px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animateleft {
    from {left:-200px; opacity:0}
    to {left:0; opacity:1}
}
.close {
    color: #FFFFFF;
    background-color: #222;
    font-size: 40px;
    font-weight: bold;
  margin-left: 578px;
  position: relative;
 left: 0.4em;
 bottom: 0.4em;

}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}
h1{
  font-family:arial;
  font-size: 25px;
 background-color:#FFF5EE;
text-align:left;
line-height:10px;
padding:10px 50px;
width:1000px;
border: 1px solid #222;
border-radius: 2px;
font-color: #FFFFFF;

}

.form {
 position:absolute;
 z-index: 1;
background: #FFF5EE;
max-width:350px;
margin-left:70px;
padding:30px;
text-align: center;
}
/*write css code for input field*/

.form input{
 font-family:"Roboto", sans-serif;
 outline: 1;
 background:#f2f2f2;
 width:100%
 border=0;
 margin:auto;
 padding:15px;
 box-sizing: border-box;
 font-size: 14px;
 border-radius: 4px;

}
/*for enquiries for heading*/
h2.formhead {

  font-family:arial;
  font-size: 25px;
text-align:center;
line-height:10px;
padding:5px 5px 5px;
width:600px;
margin-top: 1px;
margin-bottom: 20px;
 border-radius: 4px;
 float: center;



}
/* popup heading subscribe*/
h2.pophead {

  font-family:arial;
  font-size: 25px;
text-align:center;
line-height:10px;
padding:5px 5px 5px;
width:620px;
margin-top: 1px;
margin-bottom: 20px;
 border-radius: 4px;
 float: center;



}
/*for enquiries form class*/
.form-group{
background-color: #FFFFFF;
font-color:##000000	;
padding: 10px 10px;
margin-top: 200px;
border: 20px solid #222;
 border-radius: 4px;

}
/*code for button*/
.form button{
 font-family:"Roboto",sans-serif;
 text-transform:uppercase;
 outline:0;
 background:#4CAF50;
 width:100%;
 padding:15px;
 color:#FFFFFF;
 font-size:14px;
 cursor: pointer;
 float: left;
 border-radius: 4px;


}
/*hover effect on button*/
.form button:hover,.form button:active{
 background:#222;

}


 h1.committe-title{
   font-family:arial;
   text-align:center;
   font-color: #222;
}

h2.name-title{
  font-family:arial;
  color:#222;
}

p.paragraph-text{
  font-family: arial;
  color:#222;
}
